/* Header */
header{
    font-family: "raleway";
    font-size: 24px;
    font-weight: bold;
    padding: 10px 62px;
    background-color: #001253;

  }

header nav{
  width: 100%;
  margin: 15px auto;
  position: sticky;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
  }

header nav ul::after{
    content:""; 
    display: table;
    clear: both;
  }

header nav ul li {

    float: left;
    text-align: center;
    position: relative;
  }

nav a{
  display: block;
  text-decoration: none;
  color: white;
}

.deroulant li{
  padding: 10px;
  border: solid #001253;
}

.deroulant-burger{
  text-align: left;
}

nav .sous{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100%;
}

.sous-burger{
  display: none;
  position: absolute;
  width: 250px;

}

nav > ul li:hover .sous{
  display: block;
}

nav > ul li:hover .sous-burger{
  display: block;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
  background-color: #001253;
}

.sous-burger li{
  float: none;
  padding: 15px ;
  width: 100%;
  text-align: left;
  background-color: #001253;

}

.deroulant > a::after{
  content: url("assets/chevron-down1.svg");
  vertical-align: middle;
}

#search-input{
  font-family: catamaran;
  font-size: 13px;
  border: 0px white solid;
  border-radius: 25px;
  width: 280px ; 
  padding: 10px;
}

.menu-responsive {
    display: none;
}

@media only screen and (max-width: 650px) {

    .main-menu {
        display: none;
    }
    .menu-responsive {
        display: flex;
      position: relative;
    }
    #burger {
        /* margin-right: 60%; */
        position: absolute;
        right: 0; 
    }

    header{
      padding: 0px;
    }

    header nav{
      margin: 0px;
    }
    header nav ul::after{
      display: none;
      
    }
}

/* footer  */

body{
    font-family: 'catamaran',sans-serif;
    font-size: 24px;
    

}

.footer{
    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #001253;
  color: #f6f6f6;
  padding: 0 100px;
  flex-wrap: wrap;
}

.footer ul{
  list-style-type: none;
  margin-right: 60px;

}

.footer ul li{
  margin-top: 25px;
}
.footer a{
  text-decoration: none;
  color: #f6f6f6;
}
.footer a:hover{
  text-decoration:underline;
  color: #E14D2A;
}
.titre-footer{
  font-weight: bold;
  margin-bottom: 50px;
  font-family: 'raleway',sans-serif;

}
.newsletter{
  padding: 10px 30px;
  border-radius: 20px
}
.reseaux-sociaux{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reseaux-sociaux img:hover{
  opacity:0.3;
}
.logo-minus-footer{
  display: flex;
  justify-content: center;
}

@media (max-width: 650px){
  .footer{
          display:block;
          justify-content: center;
      }
      .footer ul{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 40px 0;
      }
  
      .footer ul li{
          width: 100%;
      }
      .titre-footer{
          margin-bottom: 10px;
      }
  }


/* Sous nav */

.sousnav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.sousnav p {
    display: table-cell;
    vertical-align: middle;
    flex:1;
    text-align: center;
    padding: 1rem;

}

.sousnav p:hover {
    background-color:rgba(225, 77, 42, 0.1);
}
