body{
    font-family: 'catamaran',sans-serif;
    font-family: 'Catamaran',sans-serif;
    font-size: 24px;
}
.wrapper{
    width: 900px;
    margin: 40px auto;
}

.etape-container{
    display: flex;

}
.etape{
    display: flex;
    align-items: center;
}

.etape-x{
    display: flex;
    align-items: center;
}

.etape::after{
    content:"";
    border: 1px solid black;
    border-radius: 2px;
    width: 100px;
    margin: 5px;
}

.etape-n{
    cursor: pointer;
    width: 56px;
    height: 54px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E14D2A;
}

h2, h3{
    text-align: center;
}

h2{
    font-family: "raleway";
    font-size: 48px;
    line-height: 140px;
}

h3{
    font-family: "raleway";
    font-size: 36px;
    line-height: 100px;

}

.info-user {
    display: flex;
    justify-content: space-between;
}

input{
    display: inline-block;
    width: 400px;
    margin:5px 0;
    padding: 0.5rem 0.1rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.date-naiss{
    margin: 15px 0px;
}

.date{
    width: 150px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25z);
    border-radius: 5px;
}

body{
    font-family: 'catamaran',sans-serif;
    font-family: 'Catamaran',sans-serif;
    font-size: 24px;
}
.wrapper{
    width: 900px;
    margin: 50px auto;
}


.info-livraison div{
    display: flex;
    flex-direction: column;
}

.info-livraison .adresse{
    width: 95%;
}

.localisation{
    display: flex;
    justify-content: space-between;
}

.localisation div{
    display: flex;
    flex-direction: column;
}

.localisation input{
    width: 390px;
}

.info-paiement-date{
    display: flex;
    justify-content: space-between;
}

.info-paiement-date div input{
    width: 390px;
}
.info-paiement input{
    width: 95%;
}

.bouton-payer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.bouton-payer input{
    cursor: pointer;
    background-color: white;
    width:160px;
    height: 50px;
    border: 4px #E14D2A solid;
    border-radius: 25px;
}

.bouton-payer input:hover{
    background-color: #E14D2A;
}


@media screen and (max-width:900px) {
    .localisation, .info-paiement-date, .info-user{
        display: flex;
        flex-direction: column;
    }

    input, .adresse, .info-livraison, .info-paiement,.localisation input, .info-paiement-date div input {
        width: 81%;

    }

    .date-naiss input{
        width: 30%;
    }

    .wrapper{
        width: 100%;
    }

    .etape::after{
        width: 0px;
    }

    .etape-container{
        justify-content: center;
    }

    .etape-container{
        display: none;
    }

    h2{
        font-size: 24px;
        line-height: 50px;
    }

    h3{
        font-size: 17px;
        line-height: 40px;
    }


}

.info-livraison div{
    display: flex;
    flex-direction: column;
}

.info-livraison .adresse{
    width: 95%;
}

.localisation{
    display: flex;
    justify-content: space-between;
}

.localisation div{
    display: flex;
    flex-direction: column;
}

.localisation input{
    width: 390px;
}

.info-paiement-date{
    display: flex;
    justify-content: space-between;
}

.info-paiement-date div input{
    width: 390px;
}
.info-paiement input{
    width: 95%;
}

.bouton-payer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.bouton-payer input{
    cursor: pointer;
    background-color: white;
    width:160px;
    height: 50px;
    border: 4px #E14D2A solid;
    border-radius: 25px;
}

.bouton-payer input:hover{
    background-color: #E14D2A;
}


@media screen and (max-width:) {
    
}

