
/* Sous nav */

.sousnav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.sousnav p {
    display: table-cell;
    vertical-align: middle;
    flex:1;
    text-align: center;
    padding: 1rem;

}

.sousnav p:hover {
    background-color:rgba(225, 77, 42, 0.1);
}

#livraison {
    background-color:rgba(225, 77, 42, 0.1);
    border-right: 2px solid #E14D2A;
    border-left: 2px solid #E14D2A;
    border-top: 2px solid #E14D2A;
}