*{
    box-sizing: border-box; 
}
/* Header */
header{
    font-family: "raleway";
    font-size: 24px;
    font-weight: bold;
    padding: 10px 62px;
    background-color: #001253;

}

header nav{
  width: 100%;
  margin: 15px auto;
  position: sticky;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

header nav ul::after{
    content:"";
    display: table;
    clear: both;
}

header nav ul li {

    float: left;
    text-align: center;
    position: relative;
}

nav a{
  display: block;
  text-decoration: none;
  color: white;
}

.deroulant li{
  padding: 10px;
  border: solid #001253;
}

nav .sous{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100%;
}

nav > ul li:hover .sous{
  display: block;
} 

.sous li{
  float: none;
  width: 100%;
  text-align: left;
  background-color: #001253;
}

.deroulant > a::after{
  content: url("chevron-down.svg");
  vertical-align: middle;
}


#search-input{
  font-family: catamaran;
  font-size: 13px;
  border: 0px white solid;
  border-radius: 25px;
  width: 280px ; 
  padding: 10px;
}

.menu-responsive {
    display: none;
}

@media only screen and (max-width: 650px) {
    .main-menu {
        display: none;
    }
    .menu-responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #burger {
        margin-right: 60%;
    }
}



body{
    font-family: 'catamaran',sans-serif;
    font-size: 24px;
    

}


.wrapper{
    margin: 0 auto;
    max-width: 1155px;
}

.mod-info p{
    font-size: 16px;
    line-height: 25px;
    margin: auto;
    width: 752px;
    margin-top: 15px;
    
  
}
.baner-image img{
    margin-top: 20px;
    
}
.mod-info h1{
    font-size: 42px;
    font-weight: 40px;
    text-align: center;
    margin-top: 20px;
}
.contenaire .baner-image{
    width: 100vw;
    margin-left: calc(-50vw + 577px);
    
}

.contenaire--{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
}
.contenaire-- img{
    margin-top: 30px;

}
.moood{
    margin-left: 10px;
    flex-wrap: wrap;
}

.moood p{
    font-size: 16px;
    width: 320px;
    margin: 10px;
    line-height: 20px;
    
}
   
.moood h1{
    font-size: 30px;
    margin-left: 10px;
  
    
   
}
.function{
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}

.tunde{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.elem--{
    margin-left: 20px;
    flex-wrap: wrap;
}

.elem-- p{
    margin-top: 20px;
    line-height: 20px;
    width: 320px;
}
.tunde img{
    margin-top: 40px;

}

.but--{
    margin-top: 15px;
    border: solid beige;
    border-radius: 600px;
    padding: 10px 15px;
    background-color: beige;
    width: 300px;
    height: 60px;
    
}
.elem-- h2{
    font-size: 20px;
    margin: 5px;
    font-weight: 20px; 
}


h2 span{
    border: 1px solid;
    border-radius: 500px;
    padding: 5px 10px;
    font-size: 20px;
  
}
.info--{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.foto img{
    padding: 40px;
    margin-left: 20px;
}
.mood{
    width: 320px;
    margin-left: 80px;

}.mood  p{
  margin-top: 15px;
  line-height: 20px;

}
.mood h2{
    font-size: 20px;
    margin: 5px;
    font-weight: 20px;
}
.start{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text{
     margin-left: 25px;
}
.text h2{
     font-size: 20px;
     font-weight: 20px;

}
.text p{
    margin-top: 20px;
    width: 320px;
    line-height: 20px;

}
.dom h1{
    text-align: center;
    padding: 10px;
    font-size: 32px;
    margin-top: 20px;
    

}

.dom p{
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     width: 320px;
     line-height: 20px;
    
}

.menu h1{
      text-align: center;
      font-size: 32px;
      margin-top: 25px;
      

}

.marge{
    width: 270px;
    height: 180px;
}

.images{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 580px;
      padding: 5px;
      flex-wrap: wrap;
}

.bom{
    display: flex;
}

.images img{
    padding: 10px;
}

.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #001253;
    color: #f6f6f6;
    padding: 0 100px;
    flex-wrap: wrap;
}

.footer ul{
    list-style-type: none;
    margin-right: 60px;

}

.footer ul li{
    margin-top: 25px;
}
.footer a{
    text-decoration: none;
    color: #f6f6f6;
}
.footer a:hover{
    text-decoration:underline;
    color: #E14D2A;
}
.titre-footer{
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'raleway',sans-serif;

}
.newsletter{
    padding: 10px 30px;
    border-radius: 20px
}
.reseaux-sociaux{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reseaux-sociaux img:hover{
    opacity:0.3;
}
.logo-minus-footer{
    display: flex;
    justify-content: center;
}

  
@media (max-width: 720px){
    .footer{
            display:block;
            justify-content: center;
        }
        .footer ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;
        }
    
        .footer ul li{
            width: 100%;
        }
        .titre-footer{
            margin-bottom: 10px;
        }
        .contenaire--{
            flex-direction: column;
        }
        .contenaire .baner-image{
            width:100%;
            margin-left: 0PX;

            
        }
        .contenaire-- img{
            width:100%;
            margin-left: 2%;
        
        }
        .tunde img{
            width:100%;
            margin-left: 1%;
        }
        .foto img{
            width:100%;
            margin-left: 1%;
           
        }
        
        .images img{
            width:100%;
            margin-left: 1%;
           
        }

        .start img{
            width:100%;
            margin-left: 1%;
           
        }
        .mod-info p{
            padding: 5px 40px;
            width: 100%;

        }
        .moood p{
            padding: 5px 40px;
            width: 100%;
        }
        .elem-- p{
            padding: 2px 15px;
            width: 100%;

        }
        .mood p{
            padding: 5px 40px;
            width: 100%;
        }
        .text p{
            padding: 5px 40px;
            width: 100%;
        }
        .dom p{
            padding: 5px 40px;
            width: 100%;
        }
        
        
        

    
        
    }

   



